body{
  background: #8091db;
}

.App{
  text-align: center;
  padding: 30px 100px;
}

.names li{
  background: #3d67a5;
  color:whitesmoke;
}

.container{
  max-width: 400px;
}

.head{
  cursor: pointer;
}

.filtered{
  display: none !important;
}

.message{
  color:red;
  font-style: italic;
  display:none;
  max-width: 300px;
}

.lista-imena li{
  background: #3d67a5;
  color:whitesmoke;
}
